@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reenviar confirmação";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center container" style="width:520px">

    @using (Html.BeginForm("Login_resend", "Home", FormMethod.Post, new { @id = "MainForm" })) {

        <div class="card">
            <div class="card-header">Reenviar email de confirmação da conta</div>
            <div class="card-body">

                <table width="500px">
                    <tr style="height:40px">
                        <td><label style="font-weight:normal">Endereço de Email:</label></td>
                        <td>@Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "textBoxBlue", @style = "max-width:400px;width:300px" })</td>
                    </tr>

                    <tr style="height:40px">
                        <td valign="middle">
                            <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                        </td>
                        <td valign="middle">
                            @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
                        </td>
                    </tr>
                </table>
                <br />
                <button type="submit" title="Enviar" class="btn btn-primary"> Enviar</button>
            </div>
            <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }

</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _captcha = document.getElementById('captchaTxt').value;
            var _email = document.getElementById('email').value;

            var mailformat = /^[a-z0-9\.\_%+-]+@@[a-z0-9\.\-]+\.[a-z]{2,4}$/i;
            if (!mailformat.test(_email)) {
                document.getElementById('errorLabel').innerHTML = "Endereço de email inválido";
                document.getElementById('email').focus();
                return false;
            }

            if (_captcha.length < 6) {
                document.getElementById('errorLabel').innerHTML = "Código de validação inválido";
                document.getElementById('captchaTxt').focus();
                return false;
            }

            return true;
        }


        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}

