@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Autenticação GTI";
}

<style>

    .center {
        text-align: center;
        margin: auto;
        width: 420px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
        font-size:14px;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">
    <br />
    <label style="color: brown;font-size: 16px;font-style: italic">Confirmação da conta efetuada com sucesso</label>
    <br />

    <br />
    @using (Html.BeginForm("Login_welcome", "Home", FormMethod.Post, new { @id = "MainForm" })) {
        <label style="font-weight:normal;color:brown;font-size:14px">Agora você já pode utilizar os serviços exclusivos para usuários cadastrados. <br /> <br />Por favor faça login para começar a utilizar.</label>
        <br />
        <br />
        <button type="submit" class="btn btn-primary"> Efetuar Login</button>

        <br />
        <br />
        <div class="form-group row">
            <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
        </div>
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>
