@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/Content/gti.css" rel="stylesheet" />

<style>
    .center {
        margin: auto;
       
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>



<div class="center">
    O Sistema encontra-se em manutenção.
</div>


