
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
        width: 500px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }
    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>
<br />

<div class="center">
    <span style="color:brown;font-weight:bold;font-style:italic">Selecione um serviço</span><br />
    @if (Functions.pUserGTI) {
        @Html.ActionLink("Tramitação de processos", "Tramite_Processo", "Protocolo", null, new { @class = "actionlink" })<br />
    }
    @Html.ActionLink("Imposto sobre Transmissão de Bens Imóveis (ITBI)", "Itbi_menu", "Imovel", null, new { @class = "actionlink" })<br />
    <table>
        <tr>
            <td style="color:red;font-size:12px">
                Atenção: A Emissão de ITBI encontra-se em fase de testes e portanto não deve ser utilizada para preenchimento de ITBI's reais. Fique a vontade para testar o sistema ciente de que as informações digitadas serão excluídas ao término da fase de testes.
            </td>

        </tr>
    </table>


    <br />
    @if (Functions.pUserGTI) {
        @Html.ActionLink("Alterar a senha", "Login_update", "Home", null, new { @class = "actionlink" })<br />
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
    <br />
</div>