
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
        width: 500px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }
</style>
<br />



<div class="center">
    <span style="color:saddlebrown;font-weight:bold;font-style:italic">Menu de sistema</span><br /><br />
    @Html.ActionLink("Tramitação de processos", "Tramite_Processo", "Protocolo")<br />
    @Html.ActionLink("Alterar a senha", "Login_update", "Home")<br />


    <br />
    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")
    <br />
</div>