
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />


<label style="color:brown;font-size:16px;font-style:italic">Menu do Sistema</label>
<br />

<div style="width:650px">
    <ul>
        <li>@Html.ActionLink("Tramitação de processos", "Tramite_Processo", "Protocolo")</li>
    </ul>
</div>
<br />
<br />