
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />


<br />
<br />



<div style="width: 100%; overflow: hidden;">
    <div style="width: 400px; float: left;">
        <span style="color:saddlebrown;font-weight:bold;font-style:italic">Menu de sistema</span><br />
        @Html.ActionLink("Tramitação de processos", "Tramite_Processo", "Protocolo")
    </div>
</div>


<br />
<br />