
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Gravação de ITBI";
}

<style>

    .center {
        text-align: center;
        margin: auto;
        width: 660px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">
    <br />
    <label style="color: brown;font-size: 16px;font-style: italic">Gravação do ITBI efetuado com sucesso</label>
    <br />

    <br />
    @using (Html.BeginForm("Login_welcome", "Home", FormMethod.Post, new { @id = "MainForm" })) {
        <label style="font-weight:normal;color:brown">O ITBI gravado foi enviado para análise. <br />Utilize a tela de consulta de ITBI´s para acompanhar o processo e emitir a guia para pagamento.</label>

        <br />
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red;padding-left:10px" id="errorLabel">@ViewBag.Result</label>
        </div>
    }

    @Html.ActionLink("Ir para tela de consulta de ITBI", "Itbi_query", "Imovel", null, new { @class = "actionlink" })<br />
    @Html.ActionLink("Preencher outro ITBI", "Itbi_Menu", "Imovel", null, new { @class = "actionlink" })<br />
    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>
