@model GTI_Mvc.ViewModels.ParcelamentoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Parcelamento de débitos";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    #chkSel {
        cursor: pointer;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }
</style>

@{var res = ViewBag.Result;}
<h5 style="text-align:center">TERMO DE ANUÊNCIA</h5>

<div class="center container" style="width:850px">

    @{
        var ajuizado = ViewBag.ajuizado;
    }


    @using(Html.BeginForm("Parc_tan","Parcelamento",FormMethod.Post,new { @id = "MainForm",enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Guid)


        <div class="card">
            <div class="card-body">
                <article style="text-align:justify;font-family: Arial, Helvetica, sans-serif;font-size:14px">
                    <span style="font-size:16px;color:red">ATENÇÃO:</span> A partir deste momento, leia atentamente todas as instruções e informações sobre parcelamento de débito, pois as decisões tomadas após a formalização do parcelamento são irreversíveis.<br />
                    A formalização do parcelamento implica na Confissão de Dívida e na renúncia a qualquer contestação, embargos ou impugnações quanto ao valor e procedência da dívida, bem como na desistência dos já interpostos. A Confissão da Dívida dos valores parcelados é definitiva, irrevogável e irretratável, configurando Confissão Extrajudicial nos termos dos artigos 348, 353 e 354 do Código de Processo Civil, não implicando de modo algum, em novação ou transação, e vigorará imediatamente, ressalvados  os privilégios assegurados ao credor para cobrança da dívida, cujo andamento permanecerá suspenso enquanto estiverem sendo cumpridas pelo devedor, todas as obrigações no ato assumidas.<br />
                    O devedor reconhece para todos os fins de direito, que a formalização do parcelamento constitui título executivo extrajudicial, para eventualmente, com base nele, ser efetivada a cobrança, no todo ou em parte, da dívida ora confessada e de seus acréscimos legais, de acordo com o disposto no Código Tributário Municipal <span style="font-size:16px;color:red">
                        (Lei Complementar 07, de 18 de dezembro de 1992, com alterações da Lei Complementar 184/2017)
                    </span>.<br />
                    Os débitos a serem parcelados serão consolidados na data de formalização do parcelamento com inclusão do valor principal, atualização monetária, multa, juros de mora e honorários advocatícios, se houver.<br />
                    Sobre o débito consolidado incidirá:<br />
                    - juros de 1% ao mês calculados sobre os saldos devedores previstos, resultantes do cumprimento regular do parcelamento, e sua soma será dividida em partes iguais, de acordo com a quantidade de parcelas escolhidas, e a elas agregadas, compondo seu valor;<br />
                    - atualização monetária anual, com base no IPCA ou outro índice calculado pelo governo federal que venha substituí-lo, sendo aplicada no mês de janeiro de cada ano, sobre o saldo devedor.<br />
                    <span style="color:red">A primeira parcela vence no dia da formalização do parcelamento</span> e o vencimento das demais parcelas terão os dias pré-determinados a partir do dia da formalização do parcelamento, sujeitando-se à incidência de multa e juros de mora e atualização monetária, se houver, caso o pagamento das prestações ocorram posteriormente ao vencimento.
                    O atraso superior a 30 (trinta) dias no pagamento de qualquer das prestações, determinará o vencimento antecipado do débito, pelo decurso de prazo, o vencimento integral da dívida confessada e o cancelamento do parcelamento, independente de qualquer aviso, notificação, interpelação judicial ou extrajudicial, perdendo o devedor o direito aos benefícios concedidos, sujeitando-se às penalidades previstas em lei e ao prosseguimento do procedimento de cobrança.
                    Os lançamentos que não forem selecionados não farão parte do parcelamento, sendo cobrados de acordo com a legislação vigente.
                    Os débitos que estejam vinculados a mesma Execução Fiscal, poderão ser selecionados individualmente para parcelar, porém, a Execução Fiscal não será suspensa junto ao Fórum se todos os débitos da execução não forem negociados.
                    <span style="font-weight:bold">
                        Caso os débitos estejam ajuizados, as custas e despesas processuais que porventura existirem, deverão ser solicitadas ao Setor de Dívida Ativa através do e-mail dividaativa@jaboticabal.sp.gov.br
                    </span>
                    <span style="color:red">
                        Á Pessoa Física, e à Pessoa Jurídica que tiver seu cadastro mobiliário municipal inativado, suspenso ou com baixa de atividade, será permitido novo parcelamento de débito anteriormente parcelado e descumprido, porém, a título de adiantamento, concomitantemente ao pagamento da primeira parcela do reparcelamento, efetuará o pagamento do valor correspondente a 5% (cinco por cento) do débito, que será majorado em 5% (cinco por cento) em cada novo reparcelamento, limitado ao valor total do débito.
                        À Pessoa Jurídica com cadastro ativo na Prefeitura, será permitido novo parcelamento de débitos anteriormente parcelado e descumprido, porém, a título de adiantamento, concomitantemente ao pagamento da primeira parcela do reparcelamento, efetuará o pagamento do valor correspondente a 10% (dez por cento) do débito, que será majorado em 10% (cinco por cento) em cada novo reparcelamento, limitado ao valor total do débito
                        Caso o bem penhorado no processo de execução fiscal seja levado à hasta pública, entrar em contato com a Secretaria de Negócios Jurídicos da Prefeitura, para os procedimentos necessários, antes da formalização do parcelamento do débito, pois, este somente será possível se o requerente efetuar adiantamento de 30% (trinta por cento) do débito ajuizado, acrescido de juros, correção monetária, multa e honorários advocatícios de sucumbência, concomitantemente ao pagamento da primeira parcela
                    </span>.
                </article>

            </div>

            <br />
        </div>
        <br />
        <div style="text-align:center">
            @*<button type="submit" class="btn btn-success" name="action" value="btnYes" onclick="return confirm('Você deseja gerar este parcelamento?')">Eu concordo</button><span style="padding-left:10px"></span>*@
            <button type="button" class="btn btn-success" name="action" value="btnYes" onclick="ValidateForm()">Eu concordo</button><span style="padding-left:10px"></span>
            <button type="button" class="btn btn-danger" onclick="javascript:history.back()">Eu não concordo</button><span style="padding-left:10px"></span>
            <button type="submit" class="btn btn-info" name="action" value="btPrint">Imprimir</button>
        </div>

        <div class="container">
            <div class="modal fade" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg" style="background-color:antiquewhite">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Observação Importante:</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Foram selecionados débitos ajuizados e/ou protestados.</h4><br /><br />
                            <p>- Se debito ajuizados solicitar as guias das custas e despesas processuais através do e-mail: <u style="color: blue">dividaativa@jaboticabal.sp.gov.br</u></p>

                            <p>- Se debito protestado informar o pagamento através do e-mail: <u style="color: blue">dividaativa@jaboticabal.sp.gov.br</u></p>
                            <p style="color: black;font-weight:bold">Tal procedimento é de extrema importância para providências junto ao Fórum e Tabelião de Notas e Protesto."</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnHideModal" name="action" value="btnOK" class="btn btn-danger" onclick="Send()" data-dismiss="modal">
                                Entendi
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    }
</div>

<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>


@section scripts{

    <script type="text/javascript">

         $(document).ready(function () {
            $("#tblMain tr:odd").css({
                "background-color": "#E9FAFA"
            });

            $("#tblResumo tr:odd").css({
                "background-color": "#E9FAFA"
            });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $('#MainForm').submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });

             $('#msgBoxWait').dialog({
                 autoOpen: false,
                 resizable: false,
                 draggable: false,
                 position: { my: 'top', at: 'top+300' },
                 height: "auto",
                 width: 340,
                 modal: true,
                 dialogClass: "no-titlebar"
             });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");


        });

        function ValidateForm() {
             var _ajuizado = '@ajuizado';
            if (_ajuizado=="S") {
                $("#loginModal").modal('show');
                return false;
            } else {
//                document.getElementById('lblMsg').innerHTML = "Você deseja gerar este parcelamento?";
//                $('#msgBox1').dialog('open');
                $("#loginModal").modal('hide');
                if (confirm('Você deseja gerar este parcelamento?')) {
                   document.getElementById("MainForm").submit();
               }
            }

        }

        function Send() {
            $("#loginModal").modal('hide');
            if (confirm('Você deseja gerar este parcelamento?')) {
                $('#msgBoxWait').dialog('open');
                document.getElementById("MainForm").submit();
            }
//            document.getElementById('lblMsg').innerHTML = "Você deseja gerar este parcelamento?";
//            $('#msgBox1').dialog('open');

        }



    </script>
}
