@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pagamento via Pix";
}

<style>
    .center {
        text-align: center;
        width: 350px;
    }
</style>

<div class="center">
    <label style="color: brown;font-size: 16px;font-style: italic">QRCode Pix</label>
    <br />
    <br />

    @using (Html.BeginForm("Pagto_pix", "Shared", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data"  })) {
        @Html.AntiForgeryToken()
        <div id="divCode">
        </div>
        <br />
        <br />
        <button id="btnGerar" type="submit" class="btn btn-primary"> Clique para gerar</button>
        <br />
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red" id="errorLabel">@ViewBag.Result</label>
        </div>
    }
</div>


<script>
    
    $(document).ready(function () {
        
    });

    $("#btnGerar2").click(function () {
        /*****GERAR TOKEN******/
        var _token;
        $.ajax({
            type: "POST",
            headers: {
                "Authorization": "Basic ZXlKcFpDSTZJalV5TnpoaE16WXRPVEJrTUMwME9UUXhMV0l4WXpVdE1pSXNJbU52WkdsbmIxQjFZbXhwWTJGa2IzSWlPakFzSW1OdlpHbG5iMU52Wm5SM1lYSmxJam95TURjMk5pd2ljMlZ4ZFdWdVkybGhiRWx1YzNSaGJHRmpZVzhpT2pGOTpleUpwWkNJNklqaGhZbVZqTUNJc0ltTnZaR2xuYjFCMVlteHBZMkZrYjNJaU9qQXNJbU52WkdsbmIxTnZablIzWVhKbElqb3lNRGMyTml3aWMyVnhkV1Z1WTJsaGJFbHVjM1JoYkdGallXOGlPakVzSW5ObGNYVmxibU5wWVd4RGNtVmtaVzVqYVdGc0lqb3hMQ0poYldKcFpXNTBaU0k2SW1odmJXOXNiMmRoWTJGdklpd2lhV0YwSWpveE5qSTVNRE0xTlRneE9UY3dmUQ=="
            },
            url: "https://oauth.hm.bb.com.br/oauth/token?gw-dev-app-key=d27b67790cffab50136be17db0050c56b9d1a5b1",
            contentType: 'application/x-www-form-urlencoded',
            data: ({
                "grant_type": "client_credentials",
                "scope": "cobrancas.boletos-info cobrancas.boletos-requisicao"
            }),
            dataType: "json",
            success: function (data) {
                _token = data.access_token;
                Gerar_Cobranca(_token);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        function Gerar_Cobranca(token) {
            /***************GERAR COBRANÇA****************/

            $.ajax({
                type: "POST",
                headers: {
                    "Authorization": "Bearer " + token,
                    "Content-Type": "application/json"
                },
                url: "https://api.hm.bb.com.br/cobrancas/v2/boletos?gw-dev-app-key=d27b67790cffab50136be17db0050c56b9d1a5b1",
                data: ({
                    "numeroConvenio": 3128557,
                    "numeroCarteira": 17,
                    "numeroVariacaoCarteira": 35,
                    "codigoModalidade": 1,
                    "dataEmissao": "15.08.2021",
                    "dataVencimento": "20.08.2021",
                    "valorOriginal": 253.42,
                    "valorAbatimento": 0,
                    "codigoAceite": "N",
                    "codigoTipoTitulo": 2,
                    "indicadorPermissaoRecebimentoParcial": "N",
                    "numeroTituloBeneficiario": "1234566",
                    "campoUtilizacaoBeneficiario": "UMA OBSERVACAO",
                    "numeroTituloCliente": "00031285570004035500",
                    "mensagemBloquetoOcorrencia": "OUTRO TEXTO",
                    "pagador": {
                        "tipoInscricao": 1,
                        "numeroInscricao": 88398158808,
                        "nome": "JOAO DA COSTA ANTUNES",
                        "endereco": "AVENIDA DIAS GOMES 1970",
                        "cep": 77458000,
                        "cidade": "SUCUPIRA",
                        "bairro": "CENTRO",
                        "uf": "TO",
                        "telefone": "63987654321"
                    },
                    "indicadorPix": "S"
                }),
                dataType: "json",
                success: function (data) {
                    var _numero = data.numero;
                    document.getElementById('errorLabel').innerHTML = _numero;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }


    });

</script>



