@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Teste_Pix";
}

<style>
    .center {
        text-align: center;
        width: 350px;
    }
</style>

<div class="center">
    <label style="color: brown;font-size: 16px;font-style: italic">QRCode Pix</label>
    <br />
    <br />

    @using (Html.BeginForm("Teste_Pix", "Shared", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div id="divCode">
        </div>
        <br />
        <br />
        <button id="btnGerar" type="button" class="btn btn-primary"> Clique para gerar</button>
        <br />
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red" id="errorLabel">@ViewBag.Result</label>
        </div>
    }
</div>


<script>
    $("#btnGerar").click(function () {
        var dados = {
            "calendario": {
                "expiracao": 3600
            },
            "devedor": {
                "cpf": "12345678909",
                "nome": "Francisco da Silva"
            },
            "valor": {
                "original": "123.45"
            },
            "chave": "71cdf9ba-9695-4e3c-8812-abb521a3f1be",
            "solicitacaoPagador": "Cobrança dos serviços prestados."
        }
        $.ajax({
            type: "POST",
            url: "https://api.sandbox.bb.com.br/pix-bb/v1/cob",
            contentType: 'application/json',
            data: JSON.stringify({ Dados: dados }),
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    document.getElementById('lblMsg').innerHTML = "Processo gravado com sucesso!";
                } else {
                    document.getElementById('lblMsg').innerHTML = response.responseText;
                }
                $('#msgBox1').dialog('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


    });

</script>



@*
        https://api.sandbox.bb.com.br/pix/v1/cob/{txtid}

        gw-dev-app-key - chave de acesso

       *@
