
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }
</style>
<br />

<div class="center container" style="width:400px">
    <div class="card">
        <div class="card-header">Selecione um critério de busca</div>
        <div class="card-body">
            @Html.ActionLink("Pesquisar processo pelo número", "ProcessoqryC", "Protocolo", null, new { @class = "actionlink" })<br />
            @Html.ActionLink("Pesquisar processo pelo requerente", "ProcessoqryR", "Protocolo", null, new { @class = "actionlink" })<br />
            @Html.ActionLink("Pesquisar processo pelo endereço", "ProcessoqryE", "Protocolo", null, new { @class = "actionlink" })<br />

        </div>
        <div class="card-footer">
            @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
        </div>
    </div>
</div>

